.italic { font-style: italic; }
.bold { font-weight: bold; }
.underline { text-decoration: underline; }
.strike { text-decoration: line-through; }
.capitalize { text-transform: capitalize; }
.uppercase { text-transform: uppercase; }
