.vertical-align\:base { vertical-align: baseline; }
.vertical-align\:middle { vertical-align: middle; }
.vertical-align\:top { vertical-align: top; }
.vertical-align\:bottom { vertical-align: bottom; }
