


$width: (
  xsmall: 1rem,
  small: 4rem,
  medium:  16rem,
  large:  32rem,
  xlarge:  64rem
);

@each $name, $value in $width { .width\:#{$name}, { width: $value; } }
@each $name, $value in $width { .max-width\:#{$name}, { width: $value; } }
@each $name, $value in $width { .min-width\:#{$name}, { width: $value; } }

.width\:1 { width: 1rem; }
.width\:2 { width: 2rem; }
.width\:3 { width: 4rem; }
.width\:4 { width: 8rem; }
.width\:5 { width: 16em; }
.width\:6 { width: 32em; }
.width\:7 { width: 64em; }
.width\:8 { width: 128em; }

.width\:25 { width: 25%; }
.width\:50 { width: 50%; }
.width\:75 { width: 75%; }
.width\:100 { width: 100%; }

.viewport-width\:25 { width: 25vw; }
.viewport-width\:50 { width: 50vw; }
.viewport-width\:75 { width: 75vw; }
.viewport-width\:100 { width: 100vw; }


.max-width\:1 { max-width: 1rem; }
.max-width\:2 { max-width: 2rem; }
.max-width\:3 { max-width: 4rem; }
.max-width\:4 { max-width: 8rem; }
.max-width\:5 { max-width: 16rem; }
.max-width\:6 { max-width: 32rem; }
.max-width\:7 { max-width: 64rem; }
.max-width\:8 { max-width: 128rem; }

.max-width\:25 { max-width: 25%; }
.max-width\:50 { max-width: 50%; }
.max-width\:75 { max-width: 75%; }
.max-width\:100 { max-width: 100%; }


.min-width\:1 { min-width: 1rem; }
.min-width\:2 { min-width: 2rem; }
.min-width\:3 { min-width: 4rem; }
.min-width\:4 { min-width: 8rem; }
.min-width\:5 { min-width: 18rem; }
.min-width\:6 { min-width: 32rem; }
.min-width\:7 { min-width: 64rem; }
.min-width\:8 { min-width: 128rem; }


.min-width\:25 { min-width: 25%; }
.min-width\:50 { min-width: 50%; }
.min-width\:75 { min-width: 75%; }
.min-width\:100 { min-width: 100%; }

.width\:max {
  width: 100%;
  min-width: 100%;
}
